<?php
define( 'DB_NAME', 'placeholder_db' );
define( 'DB_USER', 'placeholder_user' );
define( 'DB_PASSWORD', 'placeholder_pass' );
define( 'DB_HOST', 'placeholder_host' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );

$table_prefix = 'wp_';

define( 'WP_DEBUG', false );

if ( ! defined( 'ABSPATH' ) ) {
    define( 'ABSPATH', _DIR_ . '/' );
}
require_once ABSPATH . 'wp-settings.php';
